@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  .bg-tembus {
    background-color: transparent !important;
    transition: background-color 0.3s ease;
  }
}

@layer utilities {
  .filter-none {
    filter: none;
  }
  .filter-grayscale {
    filter: grayscale(100%);
  }
}

/* @layer utilities {
  .coba {
    @apply w-52 h-52 bg-lime-300;
  }
} */
